.space-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.space-item img {
  width: 100%;
  max-width: 30rem;
  height: auto;
  border-radius: 6px;
  object-fit: cover;
}

.space-item h2,
.space-item p {
  margin: 1px;
}
