:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #c770d6;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  background: linear-gradient(to right, #7dd660, #b78034);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
}

#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h2 {
  margin: 0.4rem;
}

ul {
  list-style-type: none;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.error {
  margin: 0 0 0.5rem;
  text-align: center;
}

form {
  margin: 0.5rem 0 0 0;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

label {
  color: #ffffff;
  font-weight: 600;
}

button {
  color: #ffffff;
  background: #a82a89;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

li {
  background: #b78034;
  border: 1px solid #ccc;
  padding: 1vw;
  margin: 1vw 0;
  box-shadow: 2px 2px 4px rgb(0, 0, 0);
}

button, li, input {
  transition: all 0.5s ease-in-out;
  border-radius: 5px;
}

input:focus {
  transform: scale(1.05);
}

button:hover, li:hover {
  background: #c770d6;
}

@media screen and (max-width: 300px) {
  form {
    flex-direction: column;
    align-items: center;
  }

  button {
    max-width: fit-content;
  }

  li {
    margin: 5vw 0;
  }
}
